body {
    text-align: center; 
    background-color: #AED8E6;
    font-family: sans-serif;
    color: brown;
    font-size: larger;
    background-image: url("../images/wallpaper-widescreen-web-nature-inspired-zixpk-best-93423.jpg");
    background-size: cover;
  }

a{
    color: tomato;
    padding: 25px;
}
a:hover{
    color: cyan;
}

footer{
    /* text-align: center; */
    padding: 40px;
}

#mainPageImg{
    width: 380px;
    height: 260px;
}

img{
    width: 150;
    height: 150px;
}

table{
    text-align: left;
    padding: 40px;
}

h1{
    font-size: 40px;
    font-family: fantasy;
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

h2{
    font-size: 20px;
}

textarea,input{
    background-color: yellow;
}

.pets{
    background-image: url("../images/nature-wallpaper-77479.jpg");
}

.contacts{
    background-image: url("../images/Free-Nature-Backgrounds-Seaport-During-Daytime-by-Pexels.jpeg");
    background-size: cover;
}
.save{
    background-image: url("../images/f8PKEV.jpg");
    background-size: cover;
}